@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.dark {
  @apply bg-[#171923] text-white;
}

@theme {
  --color-primary: #00D991;
}

@layer components {
  .container {
    padding: --spacing(5);
    align-content: center;
  }
}
